form {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('./img/Background.png');
    background-size: cover;
    padding-bottom: 51px;
    padding-left: 80px;
    padding-right: 60px;
}

.title {
    color: #48a5ea;
    position: relative;
    margin-bottom: 85px;
}

.title::after {
    content: '';
    margin: 0;
    display: block;
    position: absolute;
    background-color: #f3f3f3;
    top: 70px;
    width: 800px;
    height: 1px;
}

.titlediv {
    padding-top: 30px;
    padding-left: 30px;
}

.section {
    display: flex;
    flex-direction: column;
}

.up {
    position: relative;
    margin: 0 auto;
    border: none;
    margin: 30px;
}

.up::before {
    position: absolute;
    content: url('./img/ArrowUp.png');
    margin: 0;
    display: block;
}

.up::after {
    position: absolute;
    content: url('./img/Top.png');
    margin: 0;
    display: block;
    top: -11px;
    right: -26px;
}

.down {
    position: relative;
    margin: 0 auto;
    border: none;
    margin: 30px;
}

.down::before {
    position: absolute;
    content: url('./img/ArrowDown.png');
    margin: 0;
    display: block;
}

.down::after {
    position: absolute;
    content: url('./img/Top.png');
    margin: 0;
    display: block;
    top: -11px;
    right: -26px;
}

.inputsSection {
    display: flex;
    flex-direction: row;
}

.inputsSectionSelect {
    display: flex;
    flex-direction: row;

}

.formClose {
    display: flex;
    flex-direction: row;
    margin-left: 79px;
}

.ty2,
.ty3,
.ty4,
.ty5,
.ty6,
.ty7 {
    margin-bottom: 90px;
    margin-right: 80px;
    width: 360px;
    border-top: none;
    border-right: none;
    border-left: none;
    position: relative;
}

/* .ty2::after,
.ty3::after,
.ty4::after,
.ty5::after,
.ty6::after,
.ty7::after {
    content: '';
    margin: 0px;
    display: block;
    background-color: #d8d8d8;
    height: 1px;
    width: 20px;
    position: absolute;

} */

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:hover::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-moz-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-moz-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-ms-input-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input {
    outline: none;
}


input:valid:not(:focus):not(:placeholder-shown)::after {}

input:invalid:not(:focus):not(:placeholder-shown) {
    color: #ff3561;
}

input:valid:not(:focus):not(:placeholder-shown)~label {
    top: -20px;
    color: #b6b6b6;
}

input:invalid:not(:focus):not(:placeholder-shown)~label {
    top: -20px;
    color: #ff3561
}


input:focus {
    border: #48a5ea 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.select {
    margin-bottom: 90px;
    width: 360px;
}

.select1 {
    margin-bottom: 90px;
    width: 150px;
}


/* CAUTION: Internet Explorer hackery ahead */


select::-ms-expand {
    display: none;
}

.form_group {
    position: relative;
    display: block;
}

.form_group1 {
    position: relative;
    display: block;
    margin-right: 63px;
}

label {
    position: absolute;
    top: -11px;
    width: 120px;
    left: 1px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:focus~label {
    top: -40px;
    color: #48a5ea;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirm {
    margin-right: 72px;
    background-color: #48a5ea;
    padding: 10px 25px 10px 25px;
    border-radius: 34px;
    color: #ffffff;
    border: none;
}

.resset {
    color: #b8b8b8;
    border: none;
}