.ty2,
.ty3,
.ty4,
.ty5,
.ty6,
.ty7 {
    transition: 0.5s all ease;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:hover::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-moz-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-moz-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:hover::-ms-input-placeholder {
    opacity: 0;
    transition: all 0.3s ease;
    color: black;
}

input:valid:not(:focus):not(:placeholder-shown) {
    color: #94cf4b;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    color: #ff3561;
}

input:valid:not(:focus):not(:placeholder-shown)~label {
    top: 20px;
}

input:invalid:not(:focus):not(:placeholder-shown)~label {
    top: 20px;
}

/* .select {
    margin: 50px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 0px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

} */


/* CAUTION: Internet Explorer hackery ahead */


select::-ms-expand {
    display: none;
}

.form-group {
    position: relative;
    padding-top: 1.5rem;
}

label {
    position: absolute;
    top: 48px;
    left: 1px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:focus~label {
    top: 20px;
}